@import "tailwindcss";

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: "ubuntu_titlingbold";
  src: url("UbuntuTitling-Bold-webfont.eot");
  src:
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.woff") format("woff"),
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.ttf")
      format("truetype"),
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.svg#ubuntu_titlingbold")
      format("svg");
  font-display: swap;
}

.ubuntu-titling,
.atkinson-hyperlegible-next-light,
.atkinson-hyperlegible-next-regular,
.atkinson-hyperlegible-next-medium,
.atkinson-hyperlegible-next-bold,
.gluten,
.fira-code {
  font-optical-sizing: auto;
  @apply not-italic;
}

.ubuntu-titling,
.atkinson-hyperlegible-next-regular {
  @apply font-normal;
}

.atkinson-hyperlegible-next-light {
  @apply font-light;
}

.atkinson-hyperlegible-next-medium {
  @apply font-medium;
}

.atkinson-hyperlegible-next-bold {
  @apply font-bold;
}

.gluten,
.fira-code {
  @apply font-semibold;
}

.ubuntu-titling {
  font-family: "ubuntu_titlingbold", sans-serif;
}

.atkinson-hyperlegible-next-light,
.atkinson-hyperlegible-next-regular,
.atkinson-hyperlegible-next-medium,
.atkinson-hyperlegible-next-bold {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
}

.gluten {
  font-family: "Gluten", cursive;
  font-variation-settings: "slnt" 0;
}

.fira-code {
  font-family: "Fira Code", monospace;
}

/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection,
::selection {
  text-shadow: none;
}

.text-base-content ::-moz-selection,
.text-base-content ::selection,
.table-zebra.text-base-content ::-moz-selection,
.table-zebra.text-base-content ::selection {
  background: oklch(98% 0.05 101);
}

.text-primary-content ::-moz-selection,
.text-primary-content ::selection {
  background: oklch(70% 0.2 220);
}

.text-secondary-content ::-moz-selection,
.text-secondary-content ::selection {
  background: oklch(98% 0.05 192);
}

.text-neutral-content ::-moz-selection,
.text-neutral-content ::selection {
  background: oklch(45% 0.08 220);
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.link {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  transition: all 50ms;
}

.link:hover {
  text-decoration-thickness: 6px;
}

.link-accent {
  text-decoration-color: oklch(45% 0.08 220);
}

.link-accent:hover {
  text-decoration-color: oklch(58% 0.22 360);
}

.link-success {
  text-decoration-color: oklch(98% 0.05 101);
}

.link-success:hover {
  text-decoration-color: oklch(98% 0.05 192);
}

.is-typed span.cursor {
  width: 5px;
  background-color: oklch(98% 0.05 101);
  animation: blink 1s infinite;
  @apply inline-block;
}

@keyframes blink {
  49% {
    background-color: oklch(98% 0.05 101);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
    border: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "timrlai";
  default: true; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(98% 0.05 192);
  --color-base-200: oklch(95% 0.06 192);
  --color-base-300: oklch(92% 0.07 192);
  --color-base-content: oklch(45% 0.08 220);
  --color-primary: oklch(45% 0.08 220);
  --color-primary-content: oklch(98% 0.05 101);
  --color-secondary: oklch(98% 0.05 101);
  --color-secondary-content: oklch(45% 0.08 220);
  --color-accent: oklch(44% 0.14 42);
  --color-accent-content: oklch(98% 0.05 101);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(92% 0.23 125);
  --color-success-content: oklch(45% 0.08 220);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(58% 0.22 360);
  --color-error-content: oklch(98% 0.05 101);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  /* glass */
  --glass-blur: 0.6;
  --glass-opacity: 0.15;
  --glass-reflect-opacity: 0.15;
  --glass-border-opacity: 0.3;
  --glass-text-shadow-opacity: 0.8;
}
