@import "tailwindcss";

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
  font-family: "ubuntu_titlingbold";
  src: url("UbuntuTitling-Bold-webfont.eot");
  src:
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.woff") format("woff"),
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.ttf")
      format("truetype"),
    url("/fonts/ubuntu_titling/UbuntuTitling-Bold-webfont.svg#ubuntu_titlingbold")
      format("svg");
}

.ubuntu-titling {
  font-family: "ubuntu_titlingbold", sans-serif;
  @apply font-normal not-italic;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  @apply font-light not-italic;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  @apply font-normal not-italic;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  @apply font-medium not-italic;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  @apply font-bold not-italic;
}

.atkinson-hyperlegible-next-light {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  @apply font-light not-italic;
}
.atkinson-hyperlegible-next-regular {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  @apply font-normal not-italic;
}

.atkinson-hyperlegible-next-medium {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  @apply font-medium not-italic;
}

.atkinson-hyperlegible-next-bold {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  @apply font-bold not-italic;
}

.gluten {
  font-family: "Gluten", cursive;
  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0;
  @apply font-semibold not-italic;
}

.fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  @apply font-semibold not-italic;
}

/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.is-typed span.cursor {
  width: 5px;
  background-color: oklch(98% 0.05 101);
  animation: blink 1s infinite;
  @apply inline-block;
}

@keyframes blink {
  49% {
    background-color: oklch(98% 0.05 101);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "timrlai";
  default: true; /* set as default */
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */

  --color-base-100: oklch(98% 0.05 192);
  --color-base-200: oklch(95% 0.06 192);
  --color-base-300: oklch(92% 0.07 192);
  --color-base-content: oklch(45% 0.08 220);
  --color-primary: oklch(45% 0.08 220);
  --color-primary-content: oklch(98% 0.05 101);
  --color-secondary: oklch(98% 0.05 101);
  --color-secondary-content: oklch(45% 0.08 220);
  --color-accent: oklch(76% 0.17 130);
  --color-accent-content: oklch(98% 0.05 101);
  --color-neutral: oklch(50% 0.05 240);
  --color-neutral-content: oklch(98% 0.01 240);
  --color-info: oklch(70% 0.2 220);
  --color-info-content: oklch(98% 0.01 220);
  --color-success: oklch(65% 0.25 140);
  --color-success-content: oklch(98% 0.01 140);
  --color-warning: oklch(80% 0.25 80);
  --color-warning-content: oklch(20% 0.05 80);
  --color-error: oklch(65% 0.3 30);
  --color-error-content: oklch(98% 0.01 30);

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;

  /* glass */
  --glass-blur: 0.6;
  --glass-opacity: 0.15;
  --glass-reflect-opacity: 0.15;
  --glass-border-opacity: 0.3;
  --glass-text-shadow-opacity: 0.8;
}
